ADMIN_USERNAME=admin
ADMIN_PASSWORD=CHANGE_THIS_STRONG_PASSWORD
SESSION_SECRET=CHANGE_THIS_LONG_RANDOM_SECRET
DATA_ENCRYPTION_KEY=CHANGE_THIS_OTHER_LONG_RANDOM_SECRET
PUBLIC_BASE_URL=https://bluevpnapp-production.up.railway.app
DATABASE_URL=${{ Postgres.DATABASE_PRIVATE_URL }}
BOT_TOKEN=
ADMIN_IDS=
GITHUB_TOKEN=
GITHUB_REPOSITORY=hazhanhasani/bluevpnapp
GIT_BRANCH=main
GITHUB_WORKFLOW=build-apk.yml
APK_URL=
SUPPORT_URL=
